<!DOCTYPE html>
<html th:with="tabTitle=${item.nom}!=null?${item.nom}:'Nouveau plat'" lang="fr">

<head th:replace="~{_fragments/layout :: head(${tabTitle})}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/styles.css" />
</head>

<body>

  <!-- -->
  <!-- En-tête de page - barre de navigation -->
  <!-- -->
  <header th:replace="~{_fragments/layout :: header }" class="sticky-top">
    <nav class="bg-success" style="height: 3rem;"></nav>
  </header>

  <!-- -->
  <!-- Contenu de la page -->
  <!-- -->
  <section class="container my-3">
    <div class="row gy-4">

      <!-- Colonne 1 -->
      <div class=" col-12 col-md-6">

        <!-- Titre de la page -->
        <h2 class="mb-4 text-center">Plat</h2>

        <!-- Ajustement en largeur -->
        <div class="mt-lg-5 mx-auto" style="max-width: 25rem;">

          <!-- Formulaire de saisie -->
          <form th:action="@{/plat/form}" th:object="${item}" method="post" id="formPlat">

            <!-- Champ caché : id -->
            <input type="hidden" th:field="*{idPlat}">

            <!-- Nom -->
            <div class="row my-4">
              <div class="col-12 col-xl-4">
                <label for="nom" class="col-form-label">Nom *</label>
              </div>
              <div class="col">
                <input type="text" th:field="*{nom}" required autofocus minlength="3" maxlength="50"
                  class="form-control">
                <div th:errors="*{nom}" class="text-danger"></div>
              </div>
            </div>

            <!-- Nb personnes -->
            <div class="row my-4">
              <div class="col-5 col-xl-4">
                <label for="nbPersonnes" class="col-form-label">Nb personnes *</label>
              </div>
              <div class="col">
                <input type="number" th:field="*{nbPersonnes}" required step="1" min="1"
                  class="form-control text-center nospin" style="max-width: 5rem;">
              </div>
            </div>

            <!-- Coût -->
            <div class="row my-4">
              <div class="col-5 col-xl-4">
                <label for="cout" class="col-form-label">Coût *</label>
              </div>
              <div class="col">
                <div class="input-group">
                  <input type="number" th:field="*{cout}" required min="0" step="any"
                    class="form-control text-end nospin" style="max-width: 5rem;">
                  <span class="input-group-text">€</span>
                </div>
              </div>
            </div>

            <!-- Type de plat -->
            <div class="row my-4">
              <div class="col-5 col-xl-4">
                <label for="idTypePlat" class="col-form-label">Type de plat* </label>
              </div>
              <div class="col">
                <select class="form-select" style="max-width: 9rem;" th:field="*{idTypePlat}">
                  <option th:each="typePlat : ${typePlats}" value="" th:text="${typePlat.nom}"
                    th:selected="${typePlat.idTypePlat}==*{idTypePlat}" th:value="${typePlat.idTypePlat}"></option>
                </select>
              </div>
            </div>

            <!-- Boutons en bas du formulaire -->
            <div class="mt-4 text-center">
              <input type="submit" class="btn btn-primary" value="Valider">
              <a th:href="@{/plat/list}" class="btn btn-outline-secondary">Fermer </a>
            </div>

          </form> <!-- Fin Formulaire de saisie -->

        </div> <!-- Fin Ajustement en largeur -->

      </div> <!-- Fin Colonne 1 -->

      <!-- Colonne 2, photo -->
      <div class=" col-12 col-sm-6 d-flex align-items-center justify-content-center ">
        <!-- Ajustement en largeur -->
        <div class="mx-auto" style="max-width: 17rem;">
          <!-- Ingrédients du plat -->
          <table class="table table-sm table-hover table-striped">
            <thead class="table-success text-center">
              <tr>
                <th>Ingrédient</th>
                <th>Quantité</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="platIngredient, status : ${item.listPlatIngredients}"
                th:object="${item.listPlatIngredients[__${status.index}__]}">
                <td th:text="*{ingredient.nom}">Riz</td>
                <td>
                  <input type="hidden" form="formPlat"
                    th:field="${item.listPlatIngredients[__${status.index}__].idIngredient}">
                  <div class="input-group">
                    <input type="number" th:field="${item.listPlatIngredients[__${status.index}__].quantite}" required
                      min="0" step="0.001" class="form-control text-end nospin" style="max-width: 4.5rem;"
                      form="formPlat">
                    <span th:text="*{ingredient.unite.abrev}" class="input-group-text d-inline-block"
                      style="width: 2.5rem;"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table> <!-- Fin Ingrédients du plat -->
        </div> <!-- Fin Ajustement en largeur -->
      </div> <!-- Fin Colonne 2 -->

    </div> <!-- Fin row -->
  </section> <!-- Fin Contenu de la page -->

  <!-- Message d'alerte -->
  <div th:replace="~{_fragments/component :: alert}"></div>

  <!-- -->
  <!-- Pied de page -->
  <!-- -->
  <footer th:replace="~{_fragments/layout :: footer}">
    <div class="bg-dark text-bg-dark pt-2 pb-5 text-center">&copy; La Cantine</div>
  </footer>

  <!-- Scripts définis dans le layout -->
  <th:block th:replace="~{_fragments/layout :: bottom-scripts}"></th:block>

</body>

</html>